.workout__image {
	width: clamp(284px, 50vw, 580px);
	height: clamp(225px, 33vw, 460px);
	aspect-ratio: 1.26 / 1;

	@media screen and (max-width: 880px) {
		width: clamp(284px, 88vw, 100%);
		height: 100%;
	}
}
